<mat-card>
  <mat-card-header>
    <mat-card-title>New Card</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field>
      <input matInput placeholder="name on card">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="card number">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="CCV">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="YY">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="MM">
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>ADD</button>
  </mat-card-actions>
</mat-card>
